In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Dataset.csv")

In [3]:
data

,Unnamed: 0,signals,age,sex
0,0,[[-0.107 -0.112 -0.005 ... -0.083 -0.088 -0.07...,68,Male
1,1,[[ 0.02 -0.02 -0.039 ... -0.039 0.088 0.01...,27,Female
2,2,[[-0.034 -0.112 -0.078 ... -0.176 -0.063 -1.38...,17,Male
3,3,[[-0.215 -0.01 0.205 ... 0.098 0.059 0.01...,60,Male
4,4,[[-0.068 -0.039 0.029 ... -0.156 -0.083 -0.03...,76,Male
...,...,...,...,...
10242,10242,[[-0.127 -0.264 -0.137 ... -4.87 -2.137 -5.68...,63,Male
10243,10243,[[-0.063 -0.059 0.005 ... 0.493 -0.068 -0.03...,77,Male
10244,10244,[[-0.171 1.459 1.63 ... 1.108 1.113 1.54...,27,Male
10245,10245,[[-0.01 -0.073 -0.063 ... 0.059 -0.268 -0.30...,69,Male
10246,10246,[[-0.034 -0.068 -0.034 ... -0.073 -0.166 0.18...,89,Male